
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
    font-family: "FAKIU";
    src: url(../fonts/FAKIU/Formula1-Bold_web_0.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

// Oswald

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-ExtraLight.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

// Rajdhani

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

// EXO-2

@font-face {
    font-family: 'Exo_2';
    src: url(../fonts/Exo_2/static/Exo2-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo_2';
    src: url(../fonts/Exo_2/static/Exo2-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}