.login_page{
    height: calc(100vh - 7rem);
    width: 100vw;
    background-color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
    justify-content: center;

    .login_block{
        background-color: white;
        border-radius: 0.25rem;
        @include size-query(small) {
            width: 80%;
        }
        @include size-query(large) {
            width: 50%;
        }
    }

    .login_form{
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }
}

.inactive_tab_content{
    display: none!important;
}

.standings_title_container{
    font-family: 'Rajdhani', sans-serif;
    color: #FFFFFF;
    position: relative;
    background-color: #004267;
    @include size-query(large) {
        padding-bottom: 6rem;
    }
    @include size-query(small) {
        padding-bottom: 6rem;
    }

    h2 {
        font-family: 'Exo_2', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2rem;
        margin: 2rem 0 2rem 0;
        text-align: center;
        span{
            background-color: #002032;
        }
    }
}

.standings_container{
    font-family: 'Rajdhani', sans-serif;
    color: #FFFFFF;
    min-height: 260px;
    position: relative;
    background-color: #f3f3f3;

    .standings_table{
        background-color: #f3f3f3;
    }
}

.standings_container_width{
    margin-top: -5rem;
    background: none;

    .standings_table{
        width: 100%;
        border-radius: $border-radius;
        color: black;
        @include size-query(large) {
            padding: 1rem 0;
        }
        @include size-query(small) {
            padding: 0 1rem;
        }
    }

    .standings_row{

        transition: .4s cubic-bezier(.35,.15,.6,1);
        background-color: #fff;
        width: 100%;
        height: 3.5rem;
        display: flex;
        align-items: center;
        border-radius: $border-radius;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0.2rem;
        margin: 0.2rem 0 0.2rem 0;
        font-size: 1.4rem;

        .standings_link{
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;

            .team-kart-picture-container{
                height: 3rem;
                img{
                    height: 100%;
                }
            }

            .racer-info-container{
                width: 90%;
                display: flex;
                align-items: center;
                .racer-place{
                    text-align: center;
                    @include size-query(large) {
                        width: 5%;
                    }
                    @include size-query(small) {
                        width: 10%;
                    }
                }
                .team-color-container{
                    @include size-query(large) {
                        width: 2.5%;
                    }
                    @include size-query(small) {
                        width: 5%;
                    }
                    display: flex;
                    align-items: center;
                    .team-color{
                        width: 0.5rem;
                        min-height: 1rem;
                    }
                }

                .racer-name{
                    padding: 0 1rem 0 0rem;
                }
                .racer-team{
                    font-size: 0.9rem;
                    color: #808080;
                    display: flex;
                    align-items: center;

                    @include size-query(small) {
                        display: none;
                    }
                }
            }

            .racer-points-container{
                @include size-query(large) {
                    width: 10%;
                }
                @include size-query(small) {
                    width: 30%;
                }
                display: flex;
                align-items: center;
                .racer-points{
                    background-color: rgb(215, 215, 215);
                    color: #000;
                    padding: 0.5rem;
                    font-size: 0.95rem;
                    font-weight: bold;
                    border-radius: 1rem;
                    letter-spacing: 0.05rem;
                }
            }

        }
    }

    .standings_row:hover{
        background-color: #004267;
        color: white;
    }

    .podium_container{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-end;

        .podium-racer.first-place{
            width: 35%;
            @include size-query(small) {
                width: 100%;
            }
        }

        .podium-racer.second-place{
            @include size-query(small) {
                display: none;
            }
        }

        .podium-racer.third-place{
            @include size-query(small) {
                display: none;
            }
        }

        .podium-team.first-place{
            width: 35%;
            @include size-query(small) {
                width: 100%;
            }
        }

        .podium-team.second-place{
            @include size-query(small) {
                display: none;
            }
        }

        .podium-team.third-place{
            @include size-query(small) {
                display: none;
            }
        }

        .podium-racer-rank-container.first-place{
            height: 12rem;
        }

        .podium-racer-rank-container.second-place{
            height: 11rem;
        }

        .podium-racer-rank-container.third-place{
            height: 10rem;
        }

        .podium-team-rank-container.first-place{
            height: 18rem;
        }

        .podium-team-rank-container.second-place{
            height: 17rem;
        }

        .podium-team-rank-container.third-place{
            height: 16rem;
        }
        
        .podium-racer{
            width: 30%;
            border-radius: 1rem;
            margin: 1rem;

            .podium-racer-rank-container{
                background: white;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .rank{
                    padding: 2rem;
                    font-size: 3rem;
                    line-height: 3rem;
                    font-weight: bold;
                }

                .team-banner{
                    height: 1rem;
                }

                .racer-picture-container{
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    @include size-query(large) {
                        transform: translateX(25%);
                    }
                    @include size-query(small) {
                        transform: translateX(15%);
                    }

                    img{
                        height: 160%;
                    }
                }
            }

            .podium-racer-info{
                height: 6rem;
                background: #38383f;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .podium-racer-first-name{
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                }

                .podium-racer-surname{
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: bold;
                }
            }
        }

        .podium-team{
            width: 30%;
            border-radius: 1rem;
            margin: 1rem;

            .podium-team-rank-container{
                background: white;
                border-top-right-radius: $border-radius;
                border-top-left-radius: $border-radius;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .rank{
                    padding: 2rem;
                    font-size: 3rem;
                    line-height: 3rem;
                    font-weight: bold;
                    position: absolute;
                    top: -2rem;
                }

                .team-banner{
                    height: 1rem;
                }

                .team-kart-picture-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    z-index: 100;
                    margin-bottom: -2rem;

                    img{
                        width: 100%;
                    }
                }

                .team-picture-container{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    z-index: 100;
                    width: 100%;

                    img{
                        width: 50%;
                    }
                }
            }
        }
    }
}

.races-carousel-container{
    background-color: #012438;
}

.races-carousel {
    @include size-query(large) {
        height: 25rem;
    }
    @include size-query(small) {
        height: 17.5rem;
    }
    font-family: 'FAKIU', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
}

.race-carousel-item:hover {
    .race-name{
        color: #fff;
    }
}

.race-carousel-item {
    @include size-query(large) {
        width: 15rem;
    }
    @include size-query(small) {
        width: 10rem;
    }
    flex: 0 0 auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #38383f;
    border-bottom-right-radius: $border-radius;
    border-bottom: solid 1px #38383f;
    transition: all 0.5s ease;
    cursor: pointer;

    .flag-container{
        display: none;
    }

    .country-name{
        display: none;
    }
    
    .carrousel-rolex-container{
        display: none;
    }

    .race-full-date{
        display: none;
    }

    .race-name{
        font-size: 1.4rem;
        color: #949498;
        .extra-description{
            display: none;
        }
        @include size-query(large) {
            margin: 1rem 0;
        }
        @include size-query(small) {
            margin: .5rem 0 0 0;
        }
    }

    .race-day{
        font-weight: bold;
        font-size: 3rem;
    }

    .race-month{
        color: #949498;
        font-weight: 500;
        font-size: 0.9rem;
    }
}

.race-carousel-item.active {
    @include size-query(large) {
        width: 30rem;
    }
    @include size-query(small) {
        width: 15rem;
    }
    z-index: 10;

    .race-name{
        text-transform: uppercase;
    }

    .flag-container{
        display: flex;
        height: 3rem;
        justify-content: center;
        align-items: center;

        img{
            border-radius: $border-radius;
        }
    }

    .carrousel-rolex-container{
        display: block;
        width: 100%;
        height: 6rem;
        border-radius: $border-radius;
        background-color: #bcbcbc;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include size-query(small) {
            margin: 0.5rem 0 0 0;
        }
        @include size-query(large) {
            margin: 1rem 0;
        }

        .race-hours{
            width: 37.5%;
            text-align: center;
            @include size-query(small) {
                font-size: 0.75rem;
            }

            .countdown-timer{
                text-align: center;
            }

            .countdown-timer-description{
                text-align: center;
            }

            .countdown-timer-values-container{
                @include size-query(large) {
                    font-size: 0.75rem;
                }
                @include size-query(small) {
                    font-size: 0.5rem;
                }
                display: grid;
                grid-template-columns: auto auto;
                justify-items: center;
                text-align: center;
            }
        }

        .rolex_container{
            position: relative;
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .rolex{
            @include size-query(large) {
                left: -140%;
                scale: 0.2;
            }
            @include size-query(small) {
                left: -330%;
                scale: 0.175;
            }
            top: -190%;
            position: relative;
        }
    }

    .country-name{
        display: block;
        text-transform: capitalize;
        font-size: 0.9rem;
    }

    .race-full-date{
        display: block;
        text-transform: capitalize;
        font-size: 0.9rem;
        color: #949498;
    }

    .extra-description{
        display: block;
    }

    .race-day{
        display: none;
    }

    .race-month{
        display: none;
    }
}

.standings-tabs-container{
    background-color: #f7f4f1;
    display: flex;
    align-items: center;
    justify-content: center;

    .standings-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        margin: 0;
        font-family: 'FAKIU';

        @include size-query(large) {
            width: 40%;
        }
    }

    .standings-tab{
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .standings-tab:first-child:before{
        border-left: 0!important;
    }

    .standings-tab:before {
        content: '';
        border-left: 2px solid #d0d0d2;
        height: 20px;
        position: relative;
        left: -1rem;
    }

    .standings-tab:hover{
        border-bottom: 2px solid #d40000;
    }

    .standings-tab.active_tab_title{
        border-bottom: 2px solid #d40000;
    }
}

.calendar_title{
    font-family: 'Exo_2',sans-serif;
    text-align: center;
}

.races_container{
    width: 90%;
    @include size-query(large) {
        padding: 2rem;
    }
    font-family: 'FAKIU', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    place-items: center;

    .race_container{
        width: 20rem;
        height: 25rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;

        .round{
            position: relative;
            top: -1.55rem;
            background: white;
            width: fit-content;
            text-transform: uppercase;
            line-height: 1.1rem;
            font-size: 1.1rem;
            padding: 0 1rem;
        }

        .race_track_image{
            img{
                height: 14rem;
                width: 100%;
            }
        }

        .race_date_block{
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(175,175,175);
            height: 6rem;
        }

        .race_name_block{
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgb(175,175,175);
            height: 3rem;
        }

        .race_name{
            font-size: 1.8rem;
        }

        .race_date_day{
            font-size: 2rem;
        }

        .race_date_month{
            font-size: 1.2rem;
            padding: 0.2rem 0.6rem;
            border-radius: $border-radius;
            background-color: #004267;
            color: white;
            width: fit-content;
        }
    }
}

.racers_title{
    font-family: 'Exo_2',sans-serif;
    text-align: center;
}

.racers_container{
    width: 90%;
    @include size-query(large) {
        padding: 2rem;
    }
    font-family: 'Rajdhani', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    place-items: center;

    .racer_container{
        width: 20rem;
        height: 25rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;

        .racer_image{
            img{
                width: 100%;
            }
        }

        .racer_name_block{
            border-bottom: 1px solid rgb(175,175,175);
            height: 3rem;
        }

        .racer_name{
            font-size: 1.6rem;
        }
        
        .racer_team_name{
            font-size: 1.2rem;
            color: #38383f;
        }
    }
}

.racer_header_container{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

    .racer_picture{
        background: rgb(2,3,47);
        border-radius: $border-radius;
    }
    
    .racer_info{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 50%;
        line-height: 1.4rem;
        font-size: 1.4rem;
    }
    .racer_info_fields{
        div{
            margin: 0.5rem 0;
            font-weight: bold;
        }
    }

    .racer_info_fields_info{
        div{
            margin: 0.5rem 0;
        }
    }
}